.image1{
    height: 400px;
    width: 400px;
}
.image2{
    
    height: 400px;
    width: 400px;
}
.image3{
    
    height: 400px;
    width: 400px;
}
.image4{
    height: 400px;
    width: 400px;
}
.image5{
    height: 400px;
    width: 400px;
}
.image6{
    height: 400px;
    width: 400px;
}
.Gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;
    width: 40vw;
    /* padding: 0 40px; */
    text-align: center;
    /* grid-row-gap: 10px; */
    grid-column-gap: 5px;
margin-left: 15px;
}
input{
    padding: 12px  145%;
    margin-left: 20px;
    background-color: blue;
}